{{> head }}
{{> navbar }}

<div>
  <div class="col-8">
    <h1>Perchita</h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsum labore deleniti soluta, nobis voluptatibus
      explicabo mollitia dolorum id neque iusto eligendi magni consequuntur delectus esse harum animi nulla asperiores
      nisi.</p>
  </div>

  <div class="col-4">
    <img src="assets/img/imagen.png" class="img-thumbnail">
  </div>
</div>

{{> footer }}